{% extends "base.html" %}
{% block head %}
  {{ super() }}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block title %}{{article.title}}{% endblock %}
{% block content %}
{% include 'article_meat.html' %}
<footer class="paginator">
    {% if article.prev_article %}
        <a class="previous" href="{{ SITEURL }}/{{ article.prev_article.url }}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Earlier</a>
    {% endif %}
    {% if article.next_article %}
        <a class="next" href="{{ SITEURL }}/{{ article.next_article.url }}">Later&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
    {% endif %}
</footer>
{% endblock %}
