<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block fulltitle %}{% block title %}{% endblock %} | Brian Boucheron{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/brian/theme/css/normalize.css">
        <link rel="stylesheet" href="/brian/theme/css/pygments.css">
        <link rel="stylesheet" href="/brian/theme/css/main.css">

        <link href="/brian/feed" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Feed" />
    </head>
    <body>
        <div id="wrapper">
            <header class="header">
                    <nav>
                        <ul>
                            <li class="icon"><a href="https://twitter.com/bertmb"><i class="fa fa-twitter"></i></a></li>                            <li class="avatar">
                                <div class="gravatar"><a class="gravatar" href="/about">?</a></div>
                                <div class="gravatarin">
                                    <img class="gravatar" src="http://www.gravatar.com/avatar/3c40f5caae95383bf2eda8f3db4eb993.jpg?s=64" width="64" height="64">
                                </div>
                            </li>
                            <li class="icon"><a href="https://github.com/beardicus"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </nav>

                    <h1 class="header">
                        <a href="http://boucheron.org/brian">Brian Boucheron</a>
                    </h1>
                    <div class="subtitle">Cooking <span class="pop">&amp;</span> brewing <span class="pop">&amp;</span> growing <span class="pop">&amp;</span> nerding <span class="pop">&amp;ct</span>.</div>


            </header>

            {% block content %}
            {% endblock %}

        </div>
        {% if GOOGLE_ANALYTICS %}
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ GOOGLE_ANALYTICS }}','auto');ga('send','pageview');
        </script>
        {% endif %}
    </body>
</html>
