{# previous/next is reversed, because why God, why? #}
{% if DEFAULT_PAGINATION %}
<footer class="paginator">
    {% if articles_page.has_next() %}
        <a class="previous" href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Earlier</a>
    {% endif %}
    {% if articles_page.has_previous() %}
        <a class="next" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Later&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
    {% endif %}
</footer>
{% endif %}
