<?xml version="1.0" encoding="utf-8"?>
{% spaceless %}
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{% block title %}{{ resource.meta.title|default(feed_title) }}{% endblock %}</title>
    {% block self_url %}<link href="{{ resource.url }}" rel="self" />{% endblock %}
    {% block site_url %}<link href="{{ content_url('') }}"/>{% endblock %}
    {% block feed_extra %}{% endblock %}

    <updated>{{ time_now|xmldatetime }}</updated>
    <id>{{ content_url(resource.url) }}/</id>
    
    {% for post in resource.node.walk_resources_sorted_by_time()|top(10) %}
        <entry>
            <title type="html">{{ post.meta.title }}</title>
            <author><name>{{ post.meta.author }}</name></author>
            <link href="{{ content_url(post.url) }}"/>
            <updated>{{ post.meta.created|xmldatetime }}</updated>
            <published>{{ post.meta.created|xmldatetime }}</published>
            <id>{{ content_url(post.url) }}</id>
            <content type="html">
                {% filter forceescape -%}
                    {% refer to post.relative_path as content %}
                    {{ content.post|markdown|typogrify }}
                {%- endfilter %}
            </content>
        </entry>
    {% endfor %}
</feed>
{% endspaceless %}
