<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Brian Boucheron &#8211; {{ resource.meta.title }}{% endblock %}</title>

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/media/css/style.css">

  {% block feed %}<link rel="alternate" type="application/atom+xml" title="Brian Boucheron RSS Feed" href="http://boucheron.org/brian/feed" />{% endblock feed %}

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="/media/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  {% block body %}
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6. chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->  
  {% block content %}
  <div id="wrapper">
  <header>
    {% block header -%}
    <h1><a href="/brian/" title="Hey that's me!">Brian Boucheron</a></h1>
    <nav>
        <a href="/brian/about" title="Who is this fella'?"><i class="icon-user button"></i><span class="phone-hide">&nbsp;&nbsp;About</span></a>
        <a class="mobile-hide" href="https://twitter.com/#!/bertmb">Twitter</a>
        <a class="mobile-hide" href="http://www.flickr.com/photos/bert_m_b/">Flickr</a>
        <a class="mobile-hide" href="http://pinboard.in/u:beardicus">Pinboard</a>
        <a class="mobile-hide" href="https://github.com/beardicus">Github</a>
    </nav>
    {%- endblock header %}
  </header>
  <div role="main">
    {% block main %}{% endblock main %}
  </div>
  <footer>
    {% block footer %}{% endblock footer %}
  </footer>
  </div>
  {% endblock content %}

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/media/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="/media/js/plugins.js"></script>
  <script src="/media/js/script.js"></script>
  <!-- end scripts -->

{% if site.config.mode == "production" %}
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-604905-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% endif %}

{% endblock body %}
</body>
</html>
