{% extends "base.j2" %}
{% block main -%}
    <article class="post">
        <h2 class="title"><a href="{{ content_url(resource.url) }}">{{ resource.meta.title }}</a></h2>
        <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
            Posted: {{ resource.meta.created.strftime('%B %d, %Y') }}
        </time>
{% if resource.meta.tags %}
        <ul class="tags">
{% for tag in resource.meta.tags %}
            <li><a href="{{ content_url('brian/tag/'~tag|slugify~'.html') }}">{{ tag }}</a></li>
{% endfor %}
        </ul>
{% endif %}

{% mark post %}
{% filter markdown|typogrify %}
{% block post %}{% endblock %}
{% endfilter %}
{% endmark %}

</article>

<!--<nav class="post_nav">
    <a class="prev{{' disabled' if not resource.prev_by_time }}" title="{{ resource.prev_by_time.meta.title }}" {% if resource.prev_by_time %} href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>Previous</a>
    <a class="next{{' disabled' if not resource.next_by_time }}" title="{{ resource.next_by_time.meta.title }}" {% if resource.next_by_time %} href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>Next</a>
</nav>-->

{%- endblock %}
