{% extends "base.j2" %}
{% block main %}

<h2>{{ resource.meta.title }}</h2>
<ul class="posts">
{% for post in walker() %}
<li class="post">
    <time datetime="{{ post.meta.created.strftime('%Y-%m-%d') }}">
        {{ post.meta.created.strftime('%a, %d %b %Y') }}
    </time>
    <h3><a href="{{ content_url(post.url) }}">{{ post.meta.title }}</a></h3>
    {% if post.meta.tags %}
    <ul class="tags">
    {% for tag in post.meta.tags -%}
        <li><a href="{{ content_url('brian/tag/'~tag|slugify~'.html') }}">{{ tag }}</a></li>
    {%- endfor %}
    </ul>
    {% endif %}
</li>
{%- endfor %}
</ul>

{% endblock %}
