{% extends "base.j2" %}
{% block main %}

<article class="listing">
<h2>{{ resource.meta.title }}</h2>

{% for post in walker() %}
<h3><a href="{{ content_url(post.url) }}">{{ post.meta.title }}</a></h3>
<div class="metadata"><time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}"><i class="icon-time"></i>&nbsp;<a href="{{ content_url(post.url) }}" title="Permanent Link to {{ post.meta.title }}">{{ post.meta.created.strftime('%B %d, %Y') }}</a></time> 

{% if post.meta.tags %}
&nbsp;&nbsp;<i class="icon-tags"></i>&nbsp;{% for tag in post.meta.tags %}<a href="{{ content_url('brian/tag/'~tag|slugify~'.html') }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}</div>
{%- endfor %}


</article>
{% endblock %}
