{% extends "base.j2" %}
{% block main -%}
<article class="page">
<h2>{{ resource.meta.title }}</h2>
{% mark page %}
{% filter markdown|typogrify %}
{% block page %}{% endblock %}
{% endfilter %}
{% endmark %}
</article>

{% endblock %}
