---
extends: base.j2
default_block: main
title: Stuff, and Also Things
description: Home page for Brian Boucheron
listable: false
---


{% for post in resource.node.walk_resources_sorted_by_time()|top(5) %}
<article class="post">
<h2><a href="{{ content_url(post.url) }}" title="Permanent Link to {{ post.meta.title }}">{{ post.meta.title }}</a><time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}"><i class="icon-time"></i>&nbsp;<a href="{{ content_url(post.url) }}" title="Permanent Link to {{ post.meta.title }}">{{ post.meta.created.strftime('%B %d, %Y') }}</a></time></h2>

{% refer to post.relative_path as content %}
{{ content.post|markdown|typogrify }}
<div class="metadata"><time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}"><i class="icon-time"></i>&nbsp;<a href="{{ content_url(post.url) }}" title="Permanent Link to {{ post.meta.title }}">{{ post.meta.created.strftime('%B %d, %Y') }}</a></time> 
{% if post.meta.tags %}
&nbsp;&nbsp;<i class="icon-tags"></i>&nbsp;{% for tag in post.meta.tags %}<a href="{{ content_url('brian/tag/'~tag|slugify~'.html') }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}</div>
</article>
{% endfor %}
