<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }} &ndash; Brian Boucheron</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/{{ fingerprint['css/build.css'] }}">
        <link rel="alternate" href="/feed.xml" type="application/atom+xml"  title="Brian Boucheron RSS Feed">
        
        <!-- facebook unfurl stuff -->
        <meta property="og:url" content="https://boucheron.org/brian{{ path }}"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:site_name" content="Brian Boucheron"/>

        <!-- twitter unfurl stuff -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:domain" value="boucheron.org" />
        <meta name="twitter:title" value="{{ title }}" />
        <meta name="twitter:description" value="{{ description }}" />
        <meta name="twitter:url" value="https://boucheron.org/brian{{ path }}" />
    </head>
    <body>
      <div id="wrapper">
        <header class="site">
          {% block header %}
          <nav>
            <h1>&#8617;&nbsp;<a href="/">return to index of /brian</a></h1>
          </nav>
          {% endblock %}
        </header>
        {% block content %}
        {% endblock %}
      </div>
      {% if not dev %}
      <script>
          window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
          ga('create','UA-604905-1','auto');ga('send','pageview')
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async defer></script>
      {% endif %}
    </body>
</html>
