Former graphic designer, current computer-toucher. I like cheese, robots,
Javascript, cooking, photography, computers, and ... too much other stuff. I
live in the apple orchards outside of Rochester, NY, and you can find me on <a
href="https://hachyderm.io/@beardicus" rel="me">Mastodon</a>, <a
href="https://bsky.app/profile/beardic.us">Bluesky</a>, and <a
href="https://github.com/beardicus">GitHub</a>.
