{% layout "base.liquid" %}

{% block header %}
<h1 class="homepage">Brian Boucheron</h1>
<p>{% render 'blurb' %}</p>
{% endblock %}

{% block content %}
<ul class="listing">
  {%- for post in posts %}
    <li><a href="{{ post.path }}">{{ post.title }}</a><div class="date"><a href="{{ post.path }}">{{ post.date | date: "%b %d, %Y"}}</a></div></li>
  {%- endfor %}
</ul>
{% endblock %}
