{% extends "base.njk" %}

{% block content %}
<article>
  <header class="post">
    <h1 class="post-title">
      <a href="{{ path }}">{{ title }}</a>
    </h1>
    <div class="meta">Published on <time><a href="{{ path }}">{{date | date("MMM DD, YYYY")}}</a></time> by <a href="https://boucheron.org/brian">Brian Boucheron</a></div>
  </header>

  <section>
    {{ contents|safe }}
  </section>

  <footer>
    {% if next %}<div class="left">&larr;&nbsp;<a href="{{ next.path }}">Before: {{ next.title }}</a></div>{% endif %}
    {% if previous %}<div class="right"><a href="{{ previous.path }}">After: {{ previous.title }}</a>&nbsp;&rarr;</div>{% endif %}
  </footer>
</article>
{% endblock %}
